section#timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: #f2bf25;
}
section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background: #fafad2; /*Inner circle*/
    color: #000000;  /* Text Color in circle */
    border: 5px solid #cfb53b;
    box-shadow: 0 0 0 2px  #000000;
}
section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner span.date span.year {
    font-size: 18px;
}
section#timeline article div.inner h2 {
    padding: 5px;
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #cfb53b;
}
section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    background: #cfb53b;
}
section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #fafad2;
    color: #000000;
    border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}
/*****/
section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner2 {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner2 span.date2 {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background: #850000; /*Inner circle*/
    color: #000000;  /* Text Color in circle */
    border: 5px solid #e7c97c;
    box-shadow: 0 0 0 2px  #000000;
}
section#timeline article div.inner2 span.date2 span {
    display: block;
    text-align: center;
}
section#timeline article div.inner2 span.date2 span.year2 {
    font-size: 18px;
    color: #e7c97c;
}
section#timeline article div.inner2 h2 {
    padding: 5px;
    margin: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #e7c97c;
}
section#timeline article div.inner2 h2:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    background: #e7c97c;
}
section#timeline article div.inner2 p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #cfb53b;
    color: #000000;
    border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner2 {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner2 h2:after {
    left: -5px;
}