html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

section#timeline {
    width: 80%;
    margin: 20px auto;
    position: relative;
}
section#timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: #474747;
}
section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}
section#timeline article:after {
    content: '';
    display: block;
    clear: both;
}
section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}
section#timeline article div.inner span.date {
    display: block;
    width: 60px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -32px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    background: #d1dced;
    color: #7898b3;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 0 5px #7898b3;
}
section#timeline article div.inner span.date span {
    display: block;
    text-align: center;
}
section#timeline article div.inner span.date span.year {
    font-size: 18px;
}
section#timeline article div.inner h2 {
    padding: 5px;
    margin: 0;
    color: #4d5a7a;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
    background: #7898b3;
}
section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top: 10px;
    right: -5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    background: #7898b3;
}
section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #d1dced;
    color: #656565;
    border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
    float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
}
