.carousel img {
    filter: brightness(40%);
    width: 100%;
}

.carousel .carousel-caption {
    width: 100%;
    height: 100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.carousel .carousel-caption h1{
    font-weight: 700;
    font-size: 60px;
}
.carousel .carousel-caption p, .carousel .carousel-caption p a {
    font-size: 32px;
    color: #ffffff;
    line-height: 2em;
}

.carousel .animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
.carousel h1.animated {
    animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    -o-animation-delay: 100ms;
}
.carousel div.animated,.carousel a.animated{
    animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -o-animation-delay: 300ms;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 99;
}

.upcoming-events-area .carousel{
    display: none;
}


@media only screen and (max-width: 767px) {
    .carousel .carousel-caption h1 {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .carousel .carousel-caption p, .carousel .carousel-caption p a {
        font-size: 12px;
        line-height:15px;
    }
    .carousel .carousel-caption a.crose-btn {
        height: 25px;
        font-size: 12px;
        padding: 1px 5px;
        min-width: 100px;
        line-height: 25px;
    }
}

.fadeInUpShort {
    opacity: 0;
    animation-name: fadeInUpShort;
    -webkit-animation-name: fadeInUpShort;
    -o-animation-name: fadeInUpShort;

}

@keyframes fadeInUpShort {
    from {
        transform: translate3d(0,70px,0);
        opacity:0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUpShort {
    from {
        transform: translate3d(0,70px,0);
        opacity:0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-moz-keyframes fadeInUpShort {
    from {
        transform: translate3d(0,50px,0);
        opacity:0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-o-keyframes fadeInUpShort {
    from {
        transform: translate3d(0,50px,0);
        opacity:0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}