.feedback-page {
    padding: 30px;
    text-align: center;
    display: block;
    width: 80%;
    max-width: 700px;
    margin: auto;
    border-left: grey solid 1px;
    border-right: grey solid 1px;
    border-bottom: grey solid 1px;
    box-shadow: 2px 8px 8px 1px grey;
    border-radius: 5px;;
    margin-bottom: 140px;
}

.feedback-page h1 {
    margin-bottom: 40px;
}

.feedback-page .feedback-form-row {
    width: 100%;
    padding-bottom: 30px;
    display: inline-flex;
    margin: auto;
}

.feedback-page .feedback-form-row .feedback-form-input {
    width: 100%;
}

.feedback-page .feedback-form-row .feedback-form-input input {
    width: 98%;
    height: 40px;
    font-size: 20px;
    box-shadow: 0 0 4px .5px grey;
    background: #fff;
    border-radius: 4px;
}

.contact-page .contact-form-row .contact-form-input-message {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedback-page .feedback-form-row .feedback-form-input-message textarea {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    box-shadow: 0 0 4px 2px grey;
    border-radius: 5px;
    background: #fff;
}

.feedback-page .feedback-form-row .feedback-form-submit {
    margin: auto;
    margin-top: 10px;
    padding: 11px;
    background-color: white;
    border: 1px grey solid;
    border-radius: 6px;
}

.feedback-page .feedback-form-row .feedback-form-submit:hover {
    background-color: #f2f2f2
}

.feedback-page .feedback-form-row .feedback-form-submit:active {
    background-color: #e6e6e6
}

@media only screen and (min-width: 800px) {
    .feedback-page .feedback-form-row-dates  {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px) {
    .feedback-page .feedback-form-row-dates  {
        display: flex;
        flex-direction: column;
    }
}

.feedback-page .feedback-form-row .feedback-form-dates  {
    margin-left: auto;
    margin-right: auto;
}

.feedback-page .feedback-form-row .feedback-form-dates h6 {
   padding-top: 20px;
}


.feedback-page .feedback-form-row .feedback-form-dates li {
    border: 1px solid grey;
    padding: 5px;
    cursor: pointer;
}

.feedback-page .feedback-form-row .feedback-form-dates li:hover {
    background-color: #e2e2e2
}

.feedback-page .feedback-form-row .feedback-form-dates li:active {
    background-color: #d6d6d6
}

.feedback-page .feedback-form-row .feedback-form-input-date textarea {
    height: 200px;
    font-size: 20px
}

.feedback-page .feedback-form-row .clear-date-button {
    font-size: 20px;
    margin: auto;
    border: 1px gray solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.feedback-page .feedback-form-row .clear-date-button:hover {
    background-color: #f6f6f6;
}

.feedback-page .feedback-form-row .clear-date-button:active {
    background-color: #d6d6d6;
}