.article__edition{
    margin: 20px 0;
}
.article__edition{
    height: 100%;
    flex: 1;
}
.article__title-img{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.article__title{
    flex-grow: 1;
    margin-right: 10px;
}
.article__title label{
    font-size: 20px;
    font-weight: bold;
}
.article__title input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.article__img{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.article__img img{
    margin-bottom: 5px;
}

.group__button{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.group__button button{
    width: 90px;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    outline: none;
}
.group__button .button-preview{
    background-color: rgb(74, 207, 74);
}
.group__button .button-save{
    background-color: rgb(53, 53, 218);
}

/* overwrite draft-js */
.demo-editor.rdw-editor-main{
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 15px;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{
    margin: 0;
}
.DraftEditor-editorContainer, 
.DraftEditor-root, 
.public-DraftEditor-content{
    height: auto;
}
